@import "https://unpkg.com/normalize.css@8.0.0/normalize.css";
@import "https://fonts.googleapis.com/css?family=Playfair+Display:400,700";

:root {
  --playfair: 'Playfair Display', 'Times', serif;
  --title-font: var(--playfair);
  --subtitle-font: var(--playfair);
  --body-font: var(--playfair);
  --font-size: 4.25vw;
  --easing: cubic-bezier(1,.98,.2,1);
  --animation-duration: 0.3s;
  --navbar-height: 3rem;
  --break: 0.06em;
  --black: #222222;
  --white: #ffffff;
  --yellow: #ffc119;
  --dark-yellow: #735622;
}

html {
  font-family: var(--body-font);
  font-size: var(--font-size);
  color: var(--white);
  line-height: 1.25;
  background-color: var(--black);
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: var(--navbar-height);
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--black);
  font-family: var(--subtitle-font);
  overflow-y: hidden;

  height: var(--navbar-height);
  color: var(--white);

  transition-duration: var(--animation-duration);
  transition-timing-function: var(--easing);
  transition-property: height, color;
  transition-delay: 0s, var(--animation-duration);
}

.navbar .menu-arrow {
  display: block;
  height: var(--navbar-height);
  width: var(--navbar-height);
  text-align: center;
  line-height: var(--navbar-height);
  font-family: Arial, serif;
  font-size: 1.75rem;
  font-weight: 700;
  transition: transform 0.25s var(--easing);
  transition-delay: 0s;
}

.navbar .about {
  order: 1;
  padding: 1rem 2rem;
}

.navbar .about :first-child {
  margin-top: 0;
}

.about {
  font-size: 1rem;
  line-height: 1.6;
}

.about p a {
  border-bottom: solid var(--break);
  font-weight: 700;
}

.menu-expanded .navbar .menu-arrow {
  transform: rotateZ(90deg);
  transition-delay: var(--animation-duration);

  position: sticky;
  top: 0;
  z-index: 1;
}

.no-transition .navbar {
  transition: none;
}

.menu-expanded .navbar {
  height: 100%;
  transition-delay: var(--animation-duration), 0s;
  color: var(--dark-yellow);

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.no-transition.menu-expanded .navbar {
  background-color: var(--yellow);
}

.navbar .title {
  flex-grow: 1;
  box-sizing: border-box;
  height: var(--navbar-height);
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 1rem;
  padding-right: 0;
  line-height: 1;
  cursor: pointer;
}

.navbar .social {
  min-width: 100%;
  font-size: 1.5rem;
}

.card.newsletter .social {
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: -0.5em;
}

.social {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1;
  display: flex;
  justify-content: center;
}

.social li {
  display: block;
  padding: 0;
  margin: 0;
}

.social a {
  display: block;
  width: 1em;
  height: 1em;
  padding: 0.5em;
}

.social img {
  display: block;
  width: 100%;
  height: 100%;
}

.navbar .menu {
  position: relative;
  box-sizing: border-box;
  min-width: 100%;
  list-style: none;
  margin: 0;

  flex: 1;

  display: flex;
  justify-content: flex-start;
  padding: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;

  flex-direction: column;
  font-size: 10vmin;
}

.navbar:before {
  z-index: -1;
  content: "";
  position: absolute;
  width: var(--navbar-height);
  height: 100%;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--easing);
  transition-property: width;
  transition-delay: var(--animation-duration);
  background-color: var(--yellow);
}

.no-transition .navbar:before {
  transition: none;
}

.menu-expanded .navbar:before {
  width: 100vw;
  transition-delay: 0s;
}

.navbar .logo {
  display: block;
  height: var(--navbar-height);
}

.logo img {
  display: block;
  width: var(--navbar-height);
  height: var(--navbar-height);
}

h1 {
  font-family: var(--title-font);
}

h2 {
  font-family: var(--subtitle-font);
  font-weight: 400;
  font-size: 1rem;
}

/* h3 { */
/*   font-family: var(--body-font); */
/*   font-weight: 700; */
/*   font-size: 0.67rem; */
/*   text-transform: uppercase; */
/* } */

.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 0.25s;
}

.gallery {
  --per-row: 1;
  --ratio: 1.5;

  position: relative;

  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(var(--per-row), 1fr);

  transition-duration: var(--animation-duration);
  transition-timing-function: var(--easing);
  transition-property: opacity;
  transition-delay: var(--animation-duration);

  transition: transform 0.5s var(--easing);
}

.gallery.focus {
  transform: scale(var(--per-row));
}

.menu-expanded .gallery {
  opacity: 0.5;
  transition-delay: 0s;
}

.gallery > li {
  position: relative;
  display: block;
  /* height:  */
  height: calc(100vw / var(--ratio) / var(--per-row));
}

.gallery > li .card {
  font-size: calc(6vw / var(--per-row));

  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  box-sizing: border-box;

  color: var(--dark-yellow);

  background-color: var(--yellow);
}

.gallery > li .card {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.3;
}

.gallery .card.newsletter {
  padding: 1rem;
}

.gallery .card.newsletter h1 {
  font-weight: 400;
  padding: 0;
}

.subscribe-form {
  font-family: var(--title-font);
  font-size: 0.75em;
}

.subscribe-form .email,
.subscribe-form .submit {
  display: block;
  width: 100%;
  appearance: none;
  border: 0;
  border-radius: 0;
  outline: 0;

  box-sizing: border-box;
}

.subscribe-form .email {
  background-color: var(--black);
  color: var(--white);
  margin: 1em 0;
  padding: 0em 1em;
  line-height: 2.6;
}

.subscribe-form .email::placeholder {
  color: inherit;
  opacity: 0.75;
}

.subscribe-form .submit {
  font-weight: 700;
  border: calc(2 * var(--break)) solid var(--dark-yellow);
  color: var(--dark-yellow);
  background-color: transparent;
  cursor: pointer;
  padding: 0.67em 1em;
}

.gallery .card hr {
  margin-left: 0;
  margin-bottom: 1em;
  width: 3em;
  border: none;
  border-bottom: var(--break) solid var(--dark-yellow);
}

.gallery .card p {
  font-size: 1em;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.gallery .card h1 {
  font-size: 1em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.gallery li figure {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.gallery figure figcaption {
  transition: opacity 0.25s var(--easing);
}

.gallery figure:hover figcaption {
  opacity: 0;
}

.gallery li figure img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery li h2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1em;
  margin: 0;
  text-align: left;
  box-sizing: border-box;
  background: linear-gradient(rgba(0,0,0,0) 5%, rgba(0,0,0,.5));
}

@media (min-width: 600px) {
  :root {
    --font-size: 3.5vw;
  }

  .gallery {
    --per-row: 2;
  }
}

@media (min-width: 980px) {
  :root {
    --font-size: 2vw;
  }

  .gallery {
    --per-row: 3;
  }

  .navbar .menu {
    font-size: inherit;
    min-width: auto;
    flex-direction: row;
    padding: 1rem;
    padding-right: 0;
    line-height: 1;
  }

  .navbar .social,
  .navbar .menu-arrow {
    order: 1;
  }

  .navbar .menu li:not(:first-child) {
    padding-left: 0.25ch;
  }

  .navbar .menu li:not(:last-child) {
    padding-right: 0.25ch;
  }

  .navbar .menu a {
    display: inline;
  }

  .navbar .menu a:after {
    content: ".";
  }

  .navbar .about {
    padding: 2rem 4rem;
    max-width: 30rem;
  }

  .navbar .about .social {
    justify-content: flex-start;
    margin-left: -0.5em;
    margin-right: -0.5em;
  }
}
